amqp==5.0.6
bcrypt==3.2.0
billiard==3.6.4.0
cachelib==0.1.1
cairocffi==1.2.0
CairoSVG==2.5.2
celery==5.0.5
cffi==1.14.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cssselect2==0.4.1
defusedxml==0.7.1
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.7
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WeasyPrint==0.6
Flask-WkHTMLtoPDF==0.1.0
Flask-WTF==0.14.3
greenlet==1.0.0
html5lib==1.1
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonify==0.5
kombu==5.0.2
MarkupSafe==1.1.1
pdfkit==0.6.1
Pillow==8.2.0
prompt-toolkit==3.0.18
pycparser==2.20
Pyphen==0.10.0
pytz==2021.1
redis==3.5.3
reportlab==3.5.67
six==1.15.0
SQLAlchemy==1.4.7
tinycss2==1.1.0
vine==5.0.0
wcwidth==0.2.5
WeasyPrint==52.4
webencodings==0.5.1
Werkzeug==0.16.0
wkhtmltopdf==0.2
WTForms==2.3.3
