{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

<!-- flash message 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
-->

<form action="" method="POST">

  {{ form.hidden_tag() }}

  <p class="info-element">Welcome, <b>{{ current_user.firstname}} {{current_user.lastname }}</b> </p>
  <label for="" class="form-element">Username</label>
  {{ form.username(placeholder='Username', class_="form-element", value=current_user.username) }}
  
  <label for="" class="form-element">Email</label>
  <p class="info-element">Email: {{ current_user.email }}</p>
  {{ form.email(placeholder='Email', class_="form-element", value=current_user.email) }}
  
  <label for="" class="form-element">First Name</label>
  <p class="info-element">First Name: {{ current_user.firstname }}</p>
  {{ form.firstname(placeholder='First Name', class_="form-element", value=current_user.firstname) }}

  <label for="" class="form-element">Last Name</label>
  <p class="info-element">Last Name: {{ current_user.lastname }}</p>
  {{ form.lastname(placeholder='Last Name', class_="form-element", value=current_user.lastname) }}

  <label for="" class="form-element">Phone</label>
  <p class="info-element">Phone: {{ current_user.phone }}</p>
  {{ form.phone(placeholder='Phone', class_="form-element", value=current_user.phone) }}

  <label for="" class="form-element">Address</label>
  <p class="info-element">Address: {{ current_user.address }}</p>
  {{ form.address(placeholder='Address', class_="form-element", value=current_user.address) }}

  <label for="" class="form-element">Work</label>
  <p class="info-element">Work: {{ current_user.work }}</p>
  {{ form.work(placeholder='Work', class_="form-element", value=current_user.work) }}

  <label for="" class="form-element">School</label>
  <p class="info-element">School: {{ current_user.school }}</p>
  {{ form.school(placeholder='School', class_="form-element", value=current_user.school) }}

  <label for="" class="form-element">Hobbies</label>
  <p class="info-element">Hobbies: {{ current_user.hobbies }}</p>
  {{ form.hobbies(placeholder='Hobbies', class_="form-element", value=current_user.hobbies) }}

  <div class="col">
    <div class="row">
      <p id="backbtn" onclick="delback()" ><a class="btn btn-primary" href="{{url_for('index')}}" style="margin-right: 7px;">Back</a></p>
      {{ form.submit(class_="form-element btn btn-primary") }}
    </div>
  </div>
  
</form>
<a href="#" onclick="showForm()" id="editbtn" class="btn btn-primary">Edit</a>
<a class="btn btn-primary" id="pdfbtn" href="{{url_for('getpdf')}}">Export PDF</a>

<script src="{{ url_for('static', filename = 'index.js') }}"></script>

{% endblock content %}