<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>CV Maker - {{title}}</title>
    {% else %}
    <title>CV Maker</title>
    {% endif %}
</head>
<body>
    <ul>
        

        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}



        

        {% block content %}{% endblock %}

        <footer>CV Maker 2021</footer>
    </ul>
</body>
</html>