<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Abel|Bungee+Hairline|Sacramento|Raleway|Slabo+27px"
    rel="stylesheet">
  <title>Resume - {{current_user.firstname}} {{current_user.lastname}}</title>
</head>

<body>
  <div id="header"></div>
  <div class="left"></div>
  <div class="stuff">
    <br><br>
    <h1>Resume</h1>
    <h2>{{current_user.firstname}} {{current_user.lastname}}</h2>
    <hr />
    <p class="head">Contact</p>
    <ul>
      <li>Phone: {{current_user.phone}}</li>
      <li>Email: {{current_user.email}}</li>
    </ul>
    <p class="head">Work History</p>
    <ul>
      <li>{{current_user.work}}</li>
    </ul>
    <p class="head">Education</p>
    <ul>
      <li>
        <a href="#">{{current_user.school}}</a>
      </li>
    </ul>

    <p class="head">Experience</p>
    <ul>
      <li>{{current_user.school}}</li>
    </ul>

    <p class="head">Hobbies</p>
    <ul>
      <li>{{current_user.hobbies}}</li>
    </ul>
  </div>
  <div class="right"></div>
</body>

</html>